body {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: black;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 700;
    color: #323232;
}

p {
	margin: 0;
	font-size: 20px;
	
}

img{
	display: block;
	max-width: 100%;
	object-fit: cover;
}
a {
	text-decoration: none;
	color: #4985FF;
}

header{
	background: pink;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

section{
	padding-top: 50px;
	padding-bottom: 50px;
	background: lightgray;
}




.container {
	width: 1110px;
	margin: 0 auto;
}



.title{

	text-align: center;
	color: white;
	font-size: 50px;
	margin-top: 150px;

}





 .menu{
	display: flex;
	list-style-type: none;
	justify-content: center;
}


.menu_item{
padding: 8px;
  margin: 16px 24px;
}

.menu_item a{
	color: white;
	text-decoration: none;
	font-size: 20px;

}

.img{
	width: 450px;
	height: 450px;
}

.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.learn{
	background: white;
}

.section{

	text-align: center;
	margin-bottom: 50px;
}

.audio{
	text-align: center;
}

.myButton {
	
	background-color:pink;
	border-radius:3px;
	margin-top: 20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-align: center;
	
}
.myButton:hover {
	background-color:darkmagenta;
}
.myButton:active {
	position:relative;
	top:1px;
}
.wrapper{
	width: 50%;
	
	margin: 0 auto;
}

#mycontainer{
	margin-top: 50px;
width: 400px;
height: 400px;
background: pink;
position: relative;

}


#myanimation{
	width: 40px;
	height: 40px;
	background: #ffffff;
	position: absolute;
}



#btn{
	margin-left: 50px;
	background-color:pink;
	border-radius:3px;
border-color: white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-align: center;
}
.btn{
	margin-left: 10px;
	background-color:pink;
	border-radius:3px;
border-color: white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-align: center;
}


.edit{
	background-color:pink;
	border-radius:3px;
border-color: white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-align: center;
	margin-left: 50px;
}